on boot
    chown system system /proc/touchpanel/tp_fw_update
    chown system system /proc/touchpanel/oppo_tp_limit_enable
    chown system system /proc/touchpanel/oppo_tp_direction
    chown system system /proc/touchpanel/double_tap_enable
    chown system system /proc/touchpanel/coordinate
    chown system system /proc/touchpanel/game_switch_enable
    chown system system /proc/touchpanel/fd_enable
    chown system system /proc/touchpanel/event_num
    chown system system /proc/touchpanel/fd_touch_count
    chown system system /proc/touchpanel/fp_enable
    chown system system /proc/touchpanel/touch_filter
    chown system system /proc/touchpanel/baseline_test
