on init
    # Boot time fs tuning
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/scheduler cfq
    write /sys/block/sda/queue/iosched/slice_idle 0
    write /sys/block/sda/queue/read_ahead_kb 2048
    write /sys/block/sda/queue/nr_requests 256
    write /sys/block/sde/queue/iostats 0
    write /sys/block/sde/queue/scheduler cfq
    write /sys/block/sde/queue/iosched/slice_idle 0
    write /sys/block/sde/queue/read_ahead_kb 2048
    write /sys/block/sde/queue/nr_requests 256
    write /sys/block/sdf/queue/iostats 0
    write /sys/block/sdf/queue/scheduler cfq
    write /sys/block/sdf/queue/iosched/slice_idle 0
    write /sys/block/sdf/queue/read_ahead_kb 2048
    write /sys/block/sdf/queue/nr_requests 256
    write /sys/block/dm-0/queue/read_ahead_kb 2048
    write /sys/block/dm-1/queue/read_ahead_kb 2048
    write /sys/block/dm-2/queue/read_ahead_kb 2048
    write /sys/block/dm-3/queue/read_ahead_kb 2048
    write /sys/block/dm-4/queue/read_ahead_kb 2048
    write /sys/block/dm-5/queue/read_ahead_kb 2048
    write /sys/block/dm-6/queue/read_ahead_kb 2048

    # Disable (UFS) powersaving
    write /sys/devices/soc/${ro.boot.bootdevice}/clkgate_enable 0
    write /sys/devices/soc/${ro.boot.bootdevice}/hibern8_on_idle_enable 0
    write /sys/module/lpm_levels/parameters/sleep_disabled Y

    # blkio init setting
    write /dev/blkio/blkio.weight 1000
    write /dev/blkio/background/blkio.weight 1000
    write /dev/blkio/blkio.group_idle 0
    write /dev/blkio/background/blkio.group_idle 0

    # Setup swap
    write /proc/sys/vm/page-cluster 0
    write /proc/sys/vm/swappiness 100
    write /sys/block/zram0/comp_algorithm lz4

    write /dev/stune/top-app/schedtune.colocate 0
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 10
    write /dev/stune/top-app/schedtune.prefer_idle 1

on boot
    #Set on boot cpusets
    write /dev/cpuset/top-app/cpus 0-5,6-7
    write /dev/cpuset/foreground/cpus 0-5,6-7
    write /dev/cpuset/background/cpus 0-7
    write /dev/cpuset/system-background/cpus 0-7

on post-fs
    # Disable sched autogroup
    write /proc/sys/kernel/sched_autogroup_enabled 0

    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864

on property:sys.boot_completed=1
    # Set the default IRQ affinity to the silver cluster.
    write /proc/irq/default_smp_affinity f

    # Enable (UFS) powersaving
    write /sys/devices/soc/${ro.boot.bootdevice}/clkgate_enable 1
    write /sys/devices/soc/${ro.boot.bootdevice}/hibern8_on_idle_enable 1
    write /sys/module/lpm_levels/parameters/sleep_disabled N

    # Configure schedutil for LITTLE cores
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"

    # Configure schedutil for big cores
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_governor "schedutil"

    write /proc/sys/kernel/sched_coloc_downmigrate_ns 400000000
    write /proc/sys/kernel/sched_min_task_util_for_colocation 30

    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1324800"
    write /sys/module/cpu_boost/parameters/input_boost_ms 500

    write /sys/module/cpu_boost/parameters/dynamic_stune_boost 15
    write /sys/module/cpu_boost/parameters/dynamic_stune_boost_ms 1500

    write /dev/stune/top-app/schedtune.sched_boost 15

    write /dev/stune/foreground/schedtune.sched_boost_no_override 0
    write /dev/stune/top-app/schedtune.sched_boost_no_override 0

    write /proc/sys/kernel/sched_walt_rotate_big_tasks 0

    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpufreq/policy6/schedutil/up_rate_limit_us 500

    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/down_rate_limit_us 20000
    write /sys/devices/system/cpu/cpufreq/policy6/schedutil/down_rate_limit_us 20000

    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/hispeed_freq 0
    write /sys/devices/system/cpu/cpufreq/policy6/schedutil/hispeed_freq 0

    write /sys/devices/system/cpu/cpu0/core_ctl/enable 0
    write /sys/devices/system/cpu/cpu6/core_ctl/enable 0

    # Setup post-boot cpusets
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-5
    write /dev/cpuset/background/cpus 0-2
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/camera-daemon/cpus 0-7
    write /dev/cpuset/restricted/cpus 0-3

    # Setup final blkio
    # value for group_idle is us
    write /dev/blkio/blkio.weight 1000
    write /dev/blkio/background/blkio.weight 200
    write /dev/blkio/blkio.group_idle 2000
    write /dev/blkio/background/blkio.group_idle 0

    # Runtime fs tuning
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sda/queue/nr_requests 128
    write /sys/block/sda/queue/iostats 1
    write /sys/block/sde/queue/read_ahead_kb 128
    write /sys/block/sde/queue/nr_requests 128
    write /sys/block/sde/queue/iostats 1
    write /sys/block/sdf/queue/read_ahead_kb 128
    write /sys/block/sdf/queue/nr_requests 128
    write /sys/block/sdf/queue/iostats 1
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/dm-1/queue/read_ahead_kb 128
    write /sys/block/dm-2/queue/read_ahead_kb 128
    write /sys/block/dm-3/queue/read_ahead_kb 128
    write /sys/block/dm-4/queue/read_ahead_kb 128
    write /sys/block/dm-5/queue/read_ahead_kb 128
    write /sys/block/dm-6/queue/read_ahead_kb 128
    write /sys/block/dm-7/queue/read_ahead_kb 128

    stop vendor.ss_ramdump

    start affinity

service affinity /vendor/bin/init.affinity.sh
    class late_start
    user root
    group root system wakelock graphics
    disabled
    oneshot
