on boot
    chown system system /sys/bus/platform/devices/oppo_iface.0/brightness
    chown system system /sys/bus/platform/devices/oppo_iface.0/dc_actived
    chown system system /proc/oppoAls_dc_info/dc_actived

    chmod 0666 /sys/bus/platform/devices/oppo_iface.0/brightness
    chmod 0666 /sys/bus/platform/devices/oppo_iface.0/dc_actived
    chmod 0666 /proc/oppoAls_dc_info/dc_actived
